.video-list{
    display: grid;
    grid-column: list-start / list-end;
    @include responsive(tab-port){
        grid-column: 1 / -1;
        grid-row: 2 / -1;
    }
    height: 100%;
    padding: 1.5rem;
}